.movieContainer{
  margin-top: 0;
  
  }
  /* .movieContainer .images :hover{
    width: 220px;
    height: 175px;
    transition: 0.3s;
  } */


body{
    background-color: rgb(40, 40, 40);
}


h4{
   
    color: white;
    font-size:large ;

}
.imagecard{
  width: 215px;
  height:160px ;
}
.imagecard:hover{
  width: 270px;
  height: 220px;
 position: absolute;
 right: 0;
 transition: 0.5s ease;
}
